In [2]:
import pyspark
import pandas as pd

In [3]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [4]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [5]:
spark

In [6]:
import pandas as pd

In [7]:
jul=pd.read_csv('dec17pub.dat')

In [8]:
jul.head(10)

  000004795110719122017 120100-1 1 1-1 1 9-1-1-1  14394041 1 2 1 7 2 0 206011 2  2-1-1-1-1 36 01 266200001103000   -1-1 1-1710 1 2 1 1-1 242 1-1 9-1 1-1 1 1 1 2 1 2 57 57 57 1 0 0 1 6 2-1-1 2-1-1-1-1 1-1-1-1-1-1-1-1-1-1-1-1-1 -1-1-1-1-1-1-1-1-1-1-1 -1-1-1   -1-1-1-1-1-1-1-1-1-1-1-1-1 -1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1 -1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1 2-1 0 4-1-1-1-1-1-1 -1-1-1 0 1 2-1-1-1-1-1-1-1-1      -1-1      -1-1-1 0-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1 0-1-1-1-1  -1  -1  -1  -10-1      -10-1-1      -1      -10-1-1-1-1-1-1-1-1 2-1-1-1-1  14394041  31009204         0  21825725  21562240 0 0 0-1-1-1 0 0 1 0-1 050 0 0 0 0 0 0 0 0-1-1-1 0 0 0 1-1-1-1-1-1-1 1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1 1 1 1 1 1 1 1 1 1 1 1-1-1-1-1-1-1-1-1-1-1-1 0 0-1-1-1-1-1-1 1 1 1-1-1-1   84 1-1-1 3-1-1-1 1 1 0-1-1-1  22089944  -1  -1  -1  -1-1-1 4 3-1-1 0-1-1-1-1-15050 1 1 1 2 2 2 1 2 2 1 0 0 0 0 0 0 0-1-1-1-1-1 2-1-120 0 0                                            A
0  000004795110719122017 120100-1 1 1-1 1 9-1-1-1...
1  000071691004941122017 120100-1 1 1-1 111-1-1-1...
2  000071691004941122017 120100-1 1 1-1 111-1-1-1...
3  000071691004941122017 120100-1 1 1-1 111-1-1-1...
4  000110177987986122017 120100-1 1 1-1 114-1-1-1...
5  000110177987986122017 120100-1 1 1-1 114-1-1-1...
6  000110206593381122017-121301-1 1-1-1 0-1 4-1-1...
7  000110284815680122017 120100-1 1 1-1 1 9-1-1-1...
8  000110327856469122017 120100-1 1 1-1 1 5-1-1-1...
9  000110339935453122017 120100-1 1 1-1 111-1-1-1...

In [9]:
# Specify the path to your CSV file
csv_file_path = 'C:/Users/NB/Documents/PythonProjects/dec17pub.dat'

column_locations = {
    'HRHHID': (1, 14), 
    'HRMMYYYY': (15, 21),
    'HUFINAL': (24, 26),
    'HEHOUSUT': (31, 32),
    'HRHTYPE': (61, 62),
    'HETELHHD': (33, 34),
    'HETELAVL': (35, 36),
    'HEPHONEO': (37, 38),
    'HUINTTYP':(61, 66),
    'HEFAMINC': (39, 40),
    'GEDIV': (91, 91),
    'PTDTRACE': (139, 140)
    
}

In [10]:
# Read the fixed-width file using pandas read_fwf
extracted_data = pd.read_fwf(csv_file_path, colspecs=list(column_locations.values()), header=None, names=column_locations.keys())
#total_hefaminc = extracted_data['HEFAMINC'].astype(int).sum()

#print(f'Total of the column HEFAMINC: {total_hefaminc}')
 
# Export the extracted data to a CSV file
extracted_data.to_csv('C:/Users/NB/Documents/PythonProjects/output.csv', index=False)

# Print table data using `to_string` with formatting options
print("Table data:\n", extracted_data.head(10).to_string(index=False))

# Print extracted data as a list
print("\nList data:", list(extracted_data.head(10).itertuples(index=False)))

# Trying to view data in a table
if __name__ == "__main__":
    html_table = extracted_data.head(10).to_html()
    with open("C:/Users/NB/Documents/PythonProjects/output.html", "w") as f:
        f.write(html_table)
    print("\nHTML table generated!\n", html_table)

Table data:
      HRHHID  HRMMYYYY  HUFINAL  HEHOUSUT  HRHTYPE  HETELHHD  HETELAVL  HEPHONEO HUINTTYP  HEFAMINC  GEDIV  PTDTRACE
  479511071    122017        1         1        1         1         1         1    1 7 2         9    NaN         1
  479511071    122017        1         1        1         1         1         1    1 7 2         9    NaN         1
 7169100494    122017        1         1        1         1         1         1    1 5 1         1    NaN         1
 7169100494    122017        1         1        1         1         1         1    1 5 1         1    NaN         1
 7169100494    122017        1         1        1         1         1         1    1 5 1         1    NaN         1
11017798798    122017        1         1        1         1         1         1    1 1 1         4    NaN         2
11017798798    122017        1         1        1         1         1         1    1 1 1         4    NaN         2
11020659338    122017       13         1        0         1         1         0    0 1 1         1    NaN         1
11028481568    122017        1         1        7         1         1         1    7 1 1         9    NaN         1
11032785646    122017        1         1        7         1         1         1    7 5 1         5    NaN         2

List data: [Pandas(HRHHID=479511071, HRMMYYYY=122017, HUFINAL=1, HEHOUSUT=1, HRHTYPE=1, HETELHHD=1, HETELAVL=1, HEPHONEO=1, HUINTTYP='1 7 2', HEFAMINC=9, GEDIV=nan, PTDTRACE=1), Pandas(HRHHID=479511071, HRMMYYYY=122017, HUFINAL=1, HEHOUSUT=1, HRHTYPE=1, HETELHHD=1, HETELAVL=1, HEPHONEO=1, HUINTTYP='1 7 2', HEFAMINC=9, GEDIV=nan, PTDTRACE=1), Pandas(HRHHID=7169100494, HRMMYYYY=122017, HUFINAL=1, HEHOUSUT=1, HRHTYPE=1, HETELHHD=1, HETELAVL=1, HEPHONEO=1, HUINTTYP='1 5 1', HEFAMINC=1, GEDIV=nan, PTDTRACE=1), Pandas(HRHHID=7169100494, HRMMYYYY=122017, HUFINAL=1, HEHOUSUT=1, HRHTYPE=1, HETELHHD=1, HETELAVL=1, HEPHONEO=1, HUINTTYP='1 5 1', HEFAMINC=1, GEDIV=nan, PTDTRACE=1), Pandas(HRHHID=7169100494, HRMMYYYY=122017, HUFINAL=1, HEHOUSUT=1, HRHTYPE=1, HETELHHD=1, HETELAVL=1, HEPHONEO=1, HUINTTYP='1 5 1', HEFAMINC=1, GEDIV=nan, PTDTRACE=1), Pandas(HRHHID=11017798798, HRMMYYYY=122017, HUFINAL=1, HEHOUSUT=1, HRHTYPE=1, HETELHHD=1, HETELAVL=1, HEPHONEO=1, HUINTTYP='1 1 1', HEFAMINC=4, GEDIV=nan, PTDTRACE=2), Pandas(HRHHID=11017798798, HRMMYYYY=122017, HUFINAL=1, HEHOUSUT=1, HRHTYPE=1, HETELHHD=1, HETELAVL=1, HEPHONEO=1, HUINTTYP='1 1 1', HEFAMINC=4, GEDIV=nan, PTDTRACE=2), Pandas(HRHHID=11020659338, HRMMYYYY=122017, HUFINAL=13, HEHOUSUT=1, HRHTYPE=0, HETELHHD=1, HETELAVL=1, HEPHONEO=0, HUINTTYP='0 1 1', HEFAMINC=1, GEDIV=nan, PTDTRACE=1), Pandas(HRHHID=11028481568, HRMMYYYY=122017, HUFINAL=1, HEHOUSUT=1, HRHTYPE=7, HETELHHD=1, HETELAVL=1, HEPHONEO=1, HUINTTYP='7 1 1', HEFAMINC=9, GEDIV=nan, PTDTRACE=1), Pandas(HRHHID=11032785646, HRMMYYYY=122017, HUFINAL=1, HEHOUSUT=1, HRHTYPE=7, HETELHHD=1, HETELAVL=1, HEPHONEO=1, HUINTTYP='7 5 1', HEFAMINC=5, GEDIV=nan, PTDTRACE=2)]

HTML table generated!
 <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>HRHHID</th>
      <th>HRMMYYYY</th>
      <th>HUFINAL</th>
      <th>HEHOUSUT</th>
      <th>HRHTYPE</th>
      <th>HETELHHD</th>
      <th>HETELAVL</th>
      <th>HEPHONEO</th>
      <th>HUINTTYP</th>
      <th>HEFAMINC</th>
      <th>GEDIV</th>
      <th>PTDTRACE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>479511071</td>
      <td>122017</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1 7 2</td>
      <td>9</td>
      <td>NaN</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>479511071</td>
      <td>122017</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1 7 2</td>
      <td>9</td>
      <td>NaN</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7169100494</td>
      <td>122017</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1 5 1</td>
      <td>1</td>
      <td>NaN</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7169100494</td>
      <td>122017</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1 5 1</td>
      <td>1</td>
      <td>NaN</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7169100494</td>
      <td>122017</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1 5 1</td>
      <td>1</td>
      <td>NaN</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11017798798</td>
      <td>122017</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1 1 1</td>
      <td>4</td>
      <td>NaN</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11017798798</td>
      <td>122017</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1 1 1</td>
      <td>4</td>
      <td>NaN</td>
      <td>2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11020659338</td>
      <td>122017</td>
      <td>13</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0 1 1</td>
      <td>1</td>
      <td>NaN</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11028481568</td>
      <td>122017</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7 1 1</td>
      <td>9</td>
      <td>NaN</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11032785646</td>
      <td>122017</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7 5 1</td>
      <td>5</td>
      <td>NaN</td>
      <td>2</td>
    </tr>
  </tbody>
</table>

In [21]:
df_pyspark=spark.read.csv('output.csv',header=True,inferSchema=True)
df_pyspark.show()

+-----------+--------+-------+--------+-------+--------+--------+--------+--------+--------+-----+--------+
|     HRHHID|HRMMYYYY|HUFINAL|HEHOUSUT|HRHTYPE|HETELHHD|HETELAVL|HEPHONEO|HUINTTYP|HEFAMINC|GEDIV|PTDTRACE|
+-----------+--------+-------+--------+-------+--------+--------+--------+--------+--------+-----+--------+
|  479511071|  122017|      1|       1|      1|       1|       1|       1|   1 7 2|       9| NULL|       1|
|  479511071|  122017|      1|       1|      1|       1|       1|       1|   1 7 2|       9| NULL|       1|
| 7169100494|  122017|      1|       1|      1|       1|       1|       1|   1 5 1|       1| NULL|       1|
| 7169100494|  122017|      1|       1|      1|       1|       1|       1|   1 5 1|       1| NULL|       1|
| 7169100494|  122017|      1|       1|      1|       1|       1|       1|   1 5 1|       1| NULL|       1|
|11017798798|  122017|      1|       1|      1|       1|       1|       1|   1 1 1|       4| NULL|       2|
|11017798798|  122017|      1|       1|      1|       1|       1|       1|   1 1 1|       4| NULL|       2|
|11020659338|  122017|     13|       1|      0|       1|       1|       0|   0 1 1|       1| NULL|       1|
|11028481568|  122017|      1|       1|      7|       1|       1|       1|   7 1 1|       9| NULL|       1|
|11032785646|  122017|      1|       1|      7|       1|       1|       1|   7 5 1|       5| NULL|       2|
|11033993545|  122017|      1|       1|      4|       1|       1|       1|   4 3 2|       1| NULL|       2|
|11033993545|  122017|      1|       1|      4|       1|       1|       1|   4 3 2|       1| NULL|       2|
|11033993545|  122017|      1|       1|      4|       1|       1|       1|   4 3 2|       1| NULL|       2|
|11033993545|  122017|      1|       1|      4|       1|       1|       1|   4 3 2|       1| NULL|       2|
|11034386856|  122017|      1|       1|      1|       1|       1|       0|   1 8 1|       4| NULL|       1|
|11034386856|  122017|      1|       1|      1|       1|       1|       0|   1 8 1|       4| NULL|       1|
|11035942433|  122017|      1|       1|      4|       1|       1|       1|   4 3 1|       3| NULL|       2|
|11035942433|  122017|      1|       1|      4|       1|       1|       1|   4 3 1|       3| NULL|       2|
|11041540042|  122017|      1|       1|      1|       1|       1|       1|   1 8 1|       0| NULL|       1|
|11041540042|  122017|      1|       1|      1|       1|       1|       1|   1 8 1|       0| NULL|       1|
+-----------+--------+-------+--------+-------+--------+--------+--------+--------+--------+-----+--------+
only showing top 20 rows

In [29]:
##create a temporary view and give it a name
df_pyspark.createOrReplaceTempView('vw_pubdec')

In [41]:
##1. What is the count of responders per family income range (show all)?
df_ = spark.sql('select count(HEFAMINC)family_income_range from vw_pubdec')
df_.show()

+-------------------+
|family_income_range|
+-------------------+
|             146456|
+-------------------+

In [42]:
## 2. What is the count of responders per geographical division/location and race (show top 10)?
df_ = spark.sql("select count(*)geographical_division from vw_pubdec where GEDIV is not NULL")
df_.show()

+---------------------+
|geographical_division|
+---------------------+
|                    0|
+---------------------+

In [44]:
#3. How many responders do not have telephone in their house, but can access
df_ = spark.sql("select count(*)telephone_access from vw_pubdec where HETELAVL = '1'")
df_.show()

+----------------+
|telephone_access|
+----------------+
|          140084|
+----------------+

In [46]:
#4. How many responders can access a telephone, but telephone interview is not accepted?
df_ = spark.sql("select count(*)notelephone_interview from vw_pubdec where HEPHONEO = '0'")
df_.show()

+---------------------+
|notelephone_interview|
+---------------------+
|                28602|
+---------------------+